---
import BaseHead from "../components/Head/BaseHead.astro";
import Nav from "../components/Nav.astro";
import HomeHeader from "../components/HomeHeader.astro";
import Card from "../components/Card.astro";
import Footer from "../components/Footer/Footer.astro";
interface MarkdownFrontmatter {
  date: number;
}

const title = "Kako da tvoj Hobij zazivi";
const description = "Projekat od Učenika III-5";
const seoDescription = "Naučite kako da programirate u 15 minuta.";

const allPosts = await Astro.glob<MarkdownFrontmatter>("./posts/*.md");
const sortedPosts = allPosts.sort(
  (a, b) =>
    new Date(b.frontmatter.pubDate).valueOf() -
    new Date(a.frontmatter.pubDate).valueOf()
);
const courses = [
  {
    title: "Planinarenje",
    creator: "Eman Catic",
    link: "/students/emanc",
  },
  {
    title: "Kako voziti biciklo",
    creator: "Damir Ahmetovic",
    link: "/students/damir",
  },
  {
    title: "Kako igrati fornajt",
    creator: "Daris Gadzcanin",
    link: "/students/daris",
  },
  {
    title: "Planinarenje kao nacin zivota",
    creator: "Rijad Gadzo",
    link: "/students/tarik",
  },
  {
    title: "Kako postati audio inzinjer",
    creator: "Tarik Alagic",
    link: "/students/tarik",
  },
  {
    title: "Kako nauciti audacity",
    creator: "Emire Karisalihovic",
    link: "/students/emir",
  },
  {
    title: "Kako se hraniti zdravo",
    creator: "Said Halilovic",
    link: "/students/said",
  },
  {
    title: "Kako nauciti jezik",
    creator: "Haris bilajac",
    link: "/students/harisb",
  },
  {
    title: "Kako biti futbaler",
    creator: "Amar Huskić",
    link: "/students/amar",
  },
  {
    title: "Kako biti strijelac",
    creator: "Haris karadzus",
    link: "/students/harisk",
  },
  {
    title: "Kurs pythona",
    creator: "Ena Gavranovic",
    link: "/students/ena",
  },
  {
    title: "Kurs o Gimnastici",
    creator: "Farah Fejzic",
    link: "/students/farahf",
  },
  {
    title: "Sales kao karijera, propast ili zagarantovani uspjeh?",
    creator: "Almir Dautbegovic",
    link: "/students/farahf",
  },
];
---

<html lang="bs">
  <head>
    <BaseHead title={title} description={seoDescription} />
  </head>

  <body class="bg-white text-black font-body leading-normal personality-casual">
    <Nav />

    <main class="py-12 lg:py-20">
      <article class="max-w-6xl mx-auto px-3">
        <HomeHeader title={title} description={description} />
        <section
          class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 py-8"
          data-test="articles-section"
        >
          {
            courses.map((p, idx: number) => (
              <div class="">
                <div class="max-w-2xl block  p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100  ">
                  <a href={p.link} class="w-full h-full">
                    <p
                      class="text-hot-pink text-2xl font-bold"
                      set:text={idx + 1}
                    />
                    <h5
                      class="mb-2 text-2xl font-semibold tracking-tight text-gray-900"
                      set:html={p.title}
                    />
                    <p
                      class="inline-flex items-center text-xl text-hot-pink hover:underline"
                      set:html={p.creator}
                    />
                  </a>
                </div>
              </div>
            ))
          }
        </section>
      </article>
    </main>
  </body>
</html>
