---
import BaseHead from '../../components/Head/BaseHead.astro';
import Nav from '../../components/Nav.astro';
import HomeHeader from '../../components/HomeHeader.astro';
import Card from '../../components/Card.astro';
import Footer from '../../components/Footer/Footer.astro';
import  '../../styles/main.scss';
import Form from '../../components/Form'
const meta = {
  title: "Starship Shield Hybrid Assessment",
};

const description = 'Projekat od Ucenika III-5';
const seoDescription = 'Naučite kako da programirate u 15 minuta';
const title = `Kurs o Citanju`
const text_1 = `**Kurs kako nauciti rijeci kroz knjige** <! --[if gte vml 1]><v:shapetype id="_x0000_t75" coordsize="21600,21600" o:spt="75" o:preferrelative="t" path="m@4@5l@4@11@9@11@9@5xe" filled="f" stroked="f"> <v:stroke joinstyle="miter"/> <v:formulas>  <v:f eqn="if lineDrawn pixelLineWidth 0"/>  <v:f eqn="sum @0 1 0"/>  <v:f eqn="sum 0 0 @1"/>  <v:f eqn="prod @2 1 2"/>  <v:f eqn="prod @3 21600 pixelWidth"/>  <v:f eqn="prod @3 21600 pixelHeight"/>  <v:f eqn="sum @0 0 1"/>  <v:f eqn="prod @6 1 2"/>  <v:f eqn="prod @7 21600 pixelWidth"/>  <v:f eqn="sum @8 21600 0"/>  <v:f eqn="prod @7 21600 pixelHeight"/>  <v:f eqn="sum @10 21600 0"/> </v:formulas> <v:path o:extrusionok="f" gradientshapeok="t" o:connecttype="rect"/> <o:lock v:ext="edit" aspectratio="t"/></v:shapetype><v:shape id="Picture_x0020_1" o:spid="_x0000_i1027" type="#_x0000_t75" alt="3 Ways to Be Okay with Having a Communist Friend - wikiHow" style='width:468pt; height:351pt;visibility:visible;mso-wrap-style:square'> <v:imagedata src="file:///C:/Users/Student/AppData/Local/Temp/msohtmlclip1/01/clip_image001. jpg"  o:title="3 Ways to Be Okay with Having a Communist Friend - wikiHow"/></v:shape><! [endif]--><! --[if ! vml]-->! [3 Ways to Be Okay with Having a Communist Friend - wikiHow](file:///C:/Users/Student/AppData/Local/Temp/msohtmlclip1/01/clip_image002. jpg)<! --[endif]--> **1. Uvod u učenje riječi kroz knjige:**Uvodna sekcija ovog kursa posvećena je važnosti razvoja bogatog vokabulara i razumijevanja jezika putem čitanja. Vokabular je ključna komponenta učenja i komunikacije, a duboko razumijevanje jezika omogućuje nam izražavanje misli i ideja na jasniji i precizniji način. Ovaj kurs ima za cilj pružiti vam alate i tehnike kako biste efikasno proširili svoj rječnik kroz knjige i razvili dublje razumijevanje jezika. U nastavku ćemo istražiti kako odabrati prave knjige, kako aktivno čitati, razumjeti riječi u kontekstu, koristiti rječnike i tehnološke alate, te razviti vlastite vještine pisanja i govorenja s novim riječima. Ovaj kurs također će vas voditi kroz proces praćenja napretka i samoevaluacije, pružiti preporuke za dodatno čitanje i potaknuti interakciju s drugima koji dijele vašu strast prema knjigama. Na kraju, razgovarat ćemo o važnosti nastavljanja razvoja vokabulara kako biste postali još veći zaljubljenik u čitanje.  **2. Izbor knjiga:**Izbor pravih knjiga ključan je korak u procesu učenja riječi kroz knjige. Dobar izbor knjiga može vam pružiti raznovrsnu i bogatu lektiru koja će proširiti vaš vokabular i dublje vas uroniti u jezično iskustvo. Kada birate knjige, trebate uzeti u obzir svoje interese i ciljeve. Žanrovi knjiga mogu varirati od fikcije do ne-fikcije, znanstvene fantastike do poezije, romana do eseja. Osim toga, raznolikost autora i njihovih stilova doprinose obogaćivanju vašeg vokabulara. Kroz pažljiv izbor knjiga, možete otvoriti vrata prema novim riječima, konceptima i kulturama. Ova sekcija kursa pomoći će vam da razvijete strategije za odabir knjiga koje će vam najviše koristiti u procesu učenja. <! --[if gte vml 1]><v:shape id="Picture_x0020_2" o:spid="_x0000_i1026" type="#_x0000_t75" alt="Home-Rajiv Mehrotra &amp; Associates" style='width:468pt;height:224. 25pt;visibility:visible;mso-wrap-style:square'> <v:imagedata src="file:///C:/Users/Student/AppData/Local/Temp/msohtmlclip1/01/clip_image003. png"  o:title="Home-Rajiv Mehrotra &amp; Associates"/></v:shape><! [endif]--><! --[if ! vml]-->! [Home-Rajiv Mehrotra & Associates](file:///C:/Users/Student/AppData/Local/Temp/msohtmlclip1/01/clip_image004. jpg)<! --[endif]--> **3. Aktivno čitanje:**Aktivno čitanje je ključni korak u procesu učenja novih riječi iz knjiga. Ova sekcija će vam pomoći razumjeti kako čitati s pažnjom i svjesnošću. Aktivno čitanje uključuje primjenu različitih tehnika kako biste učinkovito učili nove riječi. To uključuje bilježenje i označavanje nepoznatih riječi, pažljivo praćenje konteksta u kojem se riječi pojavljuju i postavljanje pitanja o značenju i upotrebi riječi. Aktivno čitanje omogućuje vam da dublje razumijete tekst i riječi koje se u njemu pojavljuju.    ** **** ****4. Kontekst i konotacija:**Razumijevanje riječi u njihovom kontekstu i prepoznavanje konotacija ključno je za učinkovito upotrebu riječi. Riječi nisu izolirane jedinice; njihovo značenje često ovisi o okolnostima u kojima se koriste. U ovoj sekciji ćemo istražiti kako prepoznati kontekst u kojem se riječi pojavljuju u tekstu, jer to može pružiti dublje razumijevanje njihovog značenja. Također ćemo se baviti konotacijama riječi, odnosno dodatnim emocionalnim i asocijativnim značenjima koja riječi mogu imati. Razumjeti konotacije pomaže vam da budete suptilniji u upotrebi riječi i da prenesete nijanse i ton u vašem pisanju i govoru. ** ****5. Korištenje rječnika i tehnoloških alata:**Korištenje rječnika i tehnoloških alata važno je kada naiđete na nepoznate riječi tijekom čitanja. U ovoj sekciji ćemo istražiti različite izvore koji vam mogu pomoći da saznate značenje nepoznatih riječi. Tradicionalni tiskani rječnici su jedna opcija, ali također ćemo razmotriti online rječnike i aplikacije za učenje riječi. Naučit ćete kako pravilno koristiti ove alate kako biste brzo i precizno pronašli značenja riječi koje vam nisu poznate. To će vam olakšati proces učenja novih riječi dok čitate.  **6. Vježbe za proširivanje `
const text_2 = `čitanje. Navedene će biti knjige različitih žanrova i razina težine koje će vam pomoći dalje razvijati vokabular i razumijevanje jezika. Ove preporuke služe kao smjernice za daljnje istraživanje i učenje putem knjiga. ** **** ****10. Interakcija s drugima:**Interakcija s drugima koji dijele vašu strast prema čitanju i učenju riječi može biti inspirirajuća i obogaćujuća. U ovoj sekciji ćete naučiti kako uspostaviti diskusije o knjigama i riječima s drugima, razmjenjivati ideje i iskustva, te produbiti svoje razumijevanje i strast prema knjigama. Također ćete dobiti smjernice kako povezati se s knjižnicom i knjižničarima kako biste imali pristup dodatnim literarnim resursima. **11. Zaključak i daljnji koraci:** U završnoj sekciji ovog kursa, sagledat ćemo sve što ste naučili o učenju riječi kroz knjige. Ovdje ćemo sažeti ključne naučene lekcije i naglasiti važnost daljnjeg razvoja vokabulara i ljubavi prema čitanju. Učili ste kako odabrati prave knjige, aktivno čitati, razumjeti riječi u kontekstu, koristiti rječnike i tehnološke alate, vježbati proširivanje vokabulara, integrirati nove riječi u svoje pisanje i govor, pratiti napredak i evaluirati sebe, te interagirati s drugima koji dijele vašu strast prema knjigama. Kroz ovaj kurs, stekli ste vrijedne vještine koje će vam pomoći da kontinuirano proširujete svoj vokabular i dublje razumijete jezik kroz čitanje. No, učenje nikada ne završava, i daljnji koraci su ključni. Kako biste nastavili rasti kao čitač i učenik jezika, predlažemo vam da: Nastavite čitati raznolike knjige i istraživati nove autore i žanrove. Postavite sebi izazove u vezi s učenjem riječi kroz knjige, kao što su čitanje knjiga na stranim jezicima. Aktivno sudjelujte u knjižničnim događanjima i knjižničarima kako biste imali pristup raznolikim literarnim resursima. Diskutirajte o knjigama i riječima s drugim strastvenim čitateljima kako biste razmijenili perspektive i preporuke. Nastavite razvijati svoj vokabular i raditi na svojim jezičnim ciljevima. Vaša sposobnost učenja riječi kroz knjige je neprocjenjiva vještina koja će vam koristiti ne samo u čitanju, već i u svakodnevnoj komunikaciji i pisanju. Nastavite čitati, istraživati i učiti, jer se svaka nova knjiga koju otvorite donosi nove prilike za rast i otkriće. Pitanja vezana za kurs:<! --[if ! supportLists]-->1.       <! --[endif]-->Kako odabrati pravu knjigu koja će vam pomoći proširiti vokabular?`
---
<body class="bg-white text-black font-body leading-normal personality-casual">
  <BaseHead meta={meta} />
  <Nav />

  <main class="py-12 lg:py-20">
      <HomeHeader title={title} description={description} />
<div>
    <Form
    client:load
    question1 = "Is regular practice an important aspect of learning English effectively?"
    answer1 = "yes"
    
    question2 = "Does exposure to English media, such as movies and books, aid in language acquisition?"
    answer2 = "no"
    
  />
    
    <div class="flex w-full justify-center items-center mt-4 p-4">
            <div class="max-w-7xl mx-auto w-full my-8 p-6 bg-paper border rounded-xl shadow-xl">
              <p class="w-full font-bold text-left text-3xl my-8">
                {title}
              </p>
              <div class="">

<p class="text-xl leading-loose">{text_1}</p>
<img class="w-1/2 mx-auto my-8 h-80 object-center object-cover rounded-lg" src="/images/students/harisb/1.jpg" width="128"/>

<p class="text-xl leading-loose">{text_2}</p>
<img class="w-1/2 mx-auto my-8 h-80 object-center object-cover rounded-lg" src="/images/students/harisb/2.jpg" width="128"/>

</div>
             </div>
          </div>

      </section>
    </article>
  </main>
</body>
